Name:     {{ product }}
Version:  {{ version }}
Release:  {{ release }}
Summary:  OCI container runtime monitor

License:  Apache-2.0
URL:      https://github.com/containers/%{name}

%description
%{summary}.

%prep 

%build

%install
mkdir -p %{buildroot}{{ bindir }}
cp {{ bin }} %{buildroot}{{ bindir }}/%{name}

%clean

%files
%dir {{ bindir }}
{{ bindir }}/%{name}
