%define debug_package %{nil}

Name:     {{ product }}
Version:  {{ version }}
Release:  {{ release }}
Summary:  OCI runtime written in C

License:  GPL-2.0-only
URL:      https://github.com/containers/%{name}

%description
%{name} is a OCI runtime

%prep 

%build

%install
mkdir -p %{buildroot}{{ bindir }}
cp {{ bin }} %{buildroot}{{ bindir }}/%{name}

%clean

%files
%dir {{ bindir }}
{{ bindir }}/%{name}
