Name:     {{ product }}
Version:  {{ version }}
Release:  {{ release }}
Summary:  OCI container image management tool for network filesystems

License:  BSD
URL:      https://github.com/sarus-suite/%{name}

%description
Parallax is a lightweight Go utility that optimizes Podman for HPC systems by enabling fast, read-only container image storage using SquashFS on parallel filesystems (e.g., NFS). It allows seamless migration of images to shared locations, avoiding redundant pulls across cluster nodes while maintaining compatibility with existing workflows. 

%prep 

%build

%install
mkdir -p %{buildroot}{{ bindir }}
cp {{ srcdir }}/%{name} %{buildroot}{{ bindir }}/%{name}
cp {{ srcdir }}/%{name}-mount-program.sh %{buildroot}{{ bindir }}/%{name}-mount-program.sh

%clean

%files
%dir {{ bindir }}
{{ bindir }}/%{name}
{{ bindir }}/%{name}-mount-program.sh
